

/*FONTES*/

@font-face {
  font-family: 'italiana';
  src: url("/fonte/Italiana-Regular.ttf");
}

@font-face {
  font-family: 'tomato-1';
  src: url("/fonte/tomato.otf");
}

@font-face {
  font-family: 'cascadia';
  src: url("/fonte/Cascadia.ttf");
}

/*NAV BAR E CABEÇALHO*/

* {
  border: none;
  margin: 0;
  padding: 0;
}

header {
  background-color: #e1cb6a;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px 0;
  transition: top 0.9s;
  z-index: 1000;
}

/* Estilização do container dos botões */
#language-switcher {
  display: flex;
  justify-content: center;
  margin-right: 40px;
}

/* Estilização dos botões */
#language-switcher button {
  background-color:  rgb(165, 42, 42);
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  font-family: 'Arial', sans-serif;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

#language-switcher button:hover {
  background-color: #45a049; 
  transform: scale(1.05); 
}

#language-switcher button:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}


#language-switcher button.active {
  background-color: #2E7D32; 
}


/* Estilo do ícone de hambúrguer */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  margin-right: 40px;
  z-index: 1001;
}

.hamburger div {
  width: 25px;
  height: 4px;
  background-color: #059424;
  margin: 5px 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header.sticky {
  top: -50px;
  z-index: 1000;
}

.logo img {
  max-height: 45px;
  padding-left: 40px;
}

.navbar-items {
  list-style-type: none;
  margin: 0;
  padding-right: 40px;
}

.navbar-items li {
  display: inline;
  margin-left: 50px;
  font-weight: 550;
}

.navbar-items li a {
  color: #059424;
  text-decoration: none;
  font-size: 18px;
  font-family: italiana;
  font-weight: 600;
}

.navbar-items li a:hover {
  color: rgb(222, 73, 8);
}

.content p{
  margin-top:80px;
}

/*VIDEO*/

.container_video {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92vh;
  padding-top: 60px;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}

.content {
  position: relative;
  text-align: center;
}

.over-video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -400%);
  padding: 20px;
  border-radius: 50px;
  z-index: 1;
  font-size: 40px;
  background-color: rgba(255, 255, 255, 0.553);
  color: rgba(165, 42, 42, 0.662);
  white-space: nowrap;
  font-family: italiana;
  font-weight: 600;
}

.over-video-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 70%);
  padding: 20px;
  z-index: 1;
  max-width: 400px;
}

/*SESSÃO COM IMG E TEXTO*/

main {
  padding-left: 0;
  padding-right: 0;
}

.conteiner_img {
  display: flex;
  background-image: url('/img/backgroundItalia.png');
  background-size: 2000px;
  background-position: top;
  background-repeat: no-repeat;
  padding: 0;
  margin-bottom: 0;
}

.img_text {
  max-width: 420px;
  max-height: auto;
  margin-right: 0;
}

.text_img {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.text_img h3 {
  text-align: center;
  font-size: 60px;
  color: rgb(165, 42, 42);
  font-family: tomato-1;
  margin-top: 60px;
  margin-bottom: 30px;
}

.text_img p {
  text-align: justify;
  padding-right: 60px;
  padding-left: 60px;
  font-size: 18px;
  color: white;
  font-family: italiana;
}

/*CARDÁPIO*/

.cardapio {
  color: rgb(165, 42, 42);
  text-align: center;
  font-size: 48px;
}

.cardapio h3 {
  display: inline;
  margin: 0 12px;
}

#escrito {
  font-family: tomato-1;
}

.centro {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/img/planta.png');
  background-size: 170px;
  background-position: right;
  background-repeat: no-repeat;
  margin-top: 0px;
  padding-top: 40px;
  
}

.espacos {
  font-family: cascadia;
  font-weight: 300;
}

#cardapio_geral {
  display: flex;
  padding: 0;
  background-image: url('/img/tomato2.png');
  background-size: 90px;
  background-position: left 30px top 10px;
  background-repeat: no-repeat;
}

#cardapio_geral2 {
  display: flex;
  padding: 0;
}

#side-left,
#side-right {
  flex: 1;
  padding: 0 20px;
}

#side-left2{
  flex: 1;
  padding: 0 20px;
  background-image: url('/img/planta2.png');
  background-size: 150px;
  background-position: left top;
  background-repeat: no-repeat;
}

#side-right2{
  flex: 1;
  padding: 0 20px;
  background-image: url('/img/tacas.png');
  background-size: 140px;
  background-position: right 40px bottom 30px;
  background-repeat: no-repeat;
}

#side-left h2,
#side-right h2,
#side-left2 h2,
#side-right2 h2 {
  text-align: center;
  margin-bottom: 60px;
  color: #059424;
}

#side-left ul,
#side-right ul,
#side-left2 ul,
#side-right2 ul {
  list-style-type: none;
  padding-inline-start: 20px;
  padding-inline-end: 20px;
}

#side-left ul li h4,
#side-right ul li h4,
#side-left2 ul li h4,
#side-right2 ul li h4 {
  color: rgb(165, 42, 42);
  font-size: 20px;
}

#side-left ul li p strong,
#side-right ul li p strong,
#side-left2 ul li p strong,
#side-right2 ul li p strong {
  color: #059424;
}

/*GALERIA DE FOTOS*/

.galeria-total {
  background-color: rgb(165, 42, 42);
}

.centro-galeria {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  padding-top: 80px;
  margin-bottom: 60px;
  background-image: url('/img/camera.png');
  background-size: 160px;
  background-position: bottom -20px left 30px;
  background-repeat: no-repeat;
}

.galeria {
  color: white;
  text-align: center;
  font-size: 48px;
}

.galeria h3 {
  display: inline;
  margin: 0 12px;
}

.fotos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 14px;
  margin-right: 14px;
}

.foto {
  width: 250px;
  height: 250px; 
  background-size: cover;
  background-position: center;
  overflow: hidden;
  border-radius: 10px; 
  transition: all 0.5s ease;
  width: calc(20% - 20px);
  margin-bottom: 20px;
  border: 4px #059424 ridge;
}

.foto:hover {
  transform: scale(1.05); 
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.foto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*HORÁRIO DE FUNCIONAMENTO*/

.parallax-imagem-horario {
  background-image: url("/img/horario.jpg");
  min-height: 500px;
  filter: brightness(0.7);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

.parallax-imagem-horario h2 {
  text-align: center;
  color: white;
  padding-top: 80px;
  font-family: tomato-1;
  font-size: 50px;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  margin-top: 50px;
}

.horario,
.horario2 {
  flex: 1;
  padding-top: 70px;
  color: white;
  padding-bottom: 80px;
  border-top: 60px;
  text-align: left;
  padding-left: 250px;
  padding-right: 180px;
}

.horario h4,
.horario2 h4 {
  margin-top: 0;
  color: white;
  font-size: 40px;
  margin-bottom: 20px;
  text-align: left;
}

.horario p,
.horario2 p {
  font-size: 20px;
  text-align: left;
  border-top: 15px;
}

.horario2 {
  text-align: center;
  padding-left: 180px;
  padding-right: 250px;
  border-left: double white;
}

/*FORMULÁRIO*/

#contato {
  width: 600px; 
  margin: 40px auto;
  font-family: italiana;
  font-weight: 700;
  color:#CE2B37;
}

fieldset {
  padding-left: 40px;
}

.coluna1 {
  float: left;
  width: 43%;
  margin-right: 7%;
}

.coluna2 {
  float: left;
  width: 43%;
  margin-right: 7%; 
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

fieldset {
  border: none;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
select,
textarea {
  width: calc(100% - 18px);
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

select {
  width: calc(100% + 2px);
}

textarea {
  resize: vertical;
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #CE2B37;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #009246;
}

.forms-content {
  background-color: #ddc559;
  padding: 40px;
  margin-top: 0px;
}

.contato-cab {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  padding-top: 40px;
  background-color: #ddc559;
}

.contato-cabe {
  color: #009246;
  text-align: center;
  font-size: 28px;
}

.contato-cabe h3 {
  display: inline;
  margin: 0 12px;
}

#textura {
  background-image: url('/img/textura.png');
  background-size: 60px;
  background-position: bottom right;
  background-repeat: repeat;
  background-color: #ddc559;
  padding-top: 40px;
}

/*FOOTER*/

footer {
  background: linear-gradient(to right, #009246 0%, #FFFFFF 40%, #FFFFFF 60%, #CE2B37 100%);
  padding: 30px;
  text-align: center;
}

footer p {
  font-family: tomato-1;
  font-size: 24px;
  color: #ddc559;
  margin: 0;
}

/* Regras de mídia para largura máxima de 768px */
@media only screen and (max-width: 768px) {
  .navbar-items {
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 0;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: rgba(225, 203, 106);
    width: 100%;
    transition: all 0.3s ease;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    z-index: 1000;
  }

  #hamburger{
    margin:0;
    padding: 0;
  }

  .navbar-items li {
    display: block;
    margin: 15px 0;
    text-align: center;
  }

  .navbar-items a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    transition: color 0.3s ease;
  }

  .navbar-items a:hover {
    color: #059424;
  }

  .hamburger {
    display: flex;
    margin-left: 10px!important;
  }


/* Estilo para mostrar o menu no modo responsivo */
.navbar-items.show {
  display: flex;
}

/* Adicionando transições */
.navbar-items {
  transition: all 0.3s ease;
}

  .container_video {
    height: 600px;
    padding-top: 40px;
  }

  .over-video {
    font-size: 28px;
    padding: 10px;
    border-radius: 25px;
  }

  .over-video-img {
    max-width: 200px;
  }

  .conteiner_img {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .img_text {
    display: none;
  }

  .text_img h3 {
    font-size: 36px;
  }

  .text_img p {
    padding: 0 20px;
  }

  #cardapio_geral,
  #cardapio_geral2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
  }

  #side-left,
  #side-right,
  #side-left2,
  #side-right2 {
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
  }

  .fotos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .foto {
    width: 45%;
    margin: 5px;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  iframe {
    width: 100%;
    height: 300px;
  }

  .centro-galeria { 
    background-image: none; 
  }

  /* Estilos para o formulário */

  .teste {
    display: flex;
    flex-direction: column;
  }

  .coluna {
    width: 100%;
    margin-bottom: 20px;
  }

  .coluna label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }

  .coluna input,
  .coluna select,
  .coluna textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc; 
    border-radius: 4px; 
  }

  .coluna textarea {
    height: 100px;
  }

  .coluna input[type="submit"] {
    padding: 0;
    width: 120px;
    height: 40px;
    text-align: center;
    line-height: 40px; 
    margin: auto;
  }

  #botao{
    text-align: center;
    margin:0;
  }

  .coluna input[type="submit"]:hover {
    background-color: #555;
  }

  form#contato {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
  }

  #textura{
    display: none;
  }

  fieldset{
    padding-left: 0px;
  }

  .container {
    padding: 0 0px;
    text-align: center;
    margin: 0;
  }

  .horario,
  .horario2 {
    text-align: center;
    margin-bottom: 20px;
    border: none;
    padding-left: 100px;
    padding-right: 100px;
  }

  .horario2 {
    padding-top: 0 !important;
  }

  .fotos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .foto {
    width: 45%;
    margin: 5px;
  }

  .galeria-total{
    padding-bottom: 50px;
  }

  .centro {
    margin-top: 0px;
    padding-top: 100px;
    background-size: 130px;
    background-position: right 20px;
  }

  .text_img{
    background-color: #059424;
    padding-bottom: 60px;

  }
  .text_img p{
    background-color: #059424;
    font-size: 16px;
  }

  #side-left2 {
    background-position: left 0px;
    background-size: 130px;
  }

  .navbar-items{
    background-color: #e1cb6a;
    box-shadow: none;
  }

.navbar-items {
  display: none;
}

.navbar-items.show {
  display: block;
  animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.content p{
  margin-top: 120px;
}

}
